{% extends 'base.html.twig' %}

{% block title %}Connexion - BiblioConnect{% endblock %}

{% block body %}
<div class="flex-grow flex items-center justify-center p-8 bg-surface">
    <div class="w-full max-w-sm">
        <div class="bg-white border border-gray-100 p-8 sm:p-12">
            <h2 class="text-xs font-bold uppercase tracking-widest text-secondary mb-2 underline decoration-gray-300 underline-offset-8">Accès Personnel</h2>
            <h1 class="text-3xl font-bold tracking-tighter text-primary uppercase mb-8">Se Connecter</h1>

            <form method="post">
                {% if error %}
                    <div class="p-3 mb-6 bg-red-50 text-red-700 text-xs font-bold border border-red-100 uppercase tracking-tighter">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <div class="space-y-6">
                    <div>
                        <label for="username" class="block text-[10px] uppercase font-bold tracking-widest text-secondary mb-2">Identifiant (Email)</label>
                        <input type="email" value="{{ last_username }}" name="_username" id="username" class="w-full p-3 bg-surface border border-gray-100 focus:border-primary focus:outline-none text-sm transition-colors" autocomplete="email" required autofocus>
                    </div>
                    
                    <div>
                        <label for="password" class="block text-[10px] uppercase font-bold tracking-widest text-secondary mb-2">Mot de passe</label>
                        <input type="password" name="_password" id="password" class="w-full p-3 bg-surface border border-gray-100 focus:border-primary focus:outline-none text-sm transition-colors" autocomplete="current-password" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="pt-4">
                        <button class="w-full bg-primary text-white py-4 font-bold uppercase tracking-widest hover:bg-black transition text-sm" type="submit">
                            S'identifier
                        </button>
                    </div>
                </div>

                <div class="mt-8 pt-6 border-t border-gray-50 flex items-center justify-between text-xs font-bold uppercase tracking-tighter">
                    <a href="{{ path('app_register') }}" class="text-secondary hover:text-primary underline">Créer un compte</a>
                    <a href="#" class="text-secondary hover:text-primary">Oublié ?</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
